---
/**
 * Fluent Design gradient background component
 * Provides animated colorful gradients in Microsoft Fluent Design style
 */
---

<div class="fluent-bg" aria-hidden="true">
  <div class="blue-gradient"></div>
  <div class="blue-gradient-bottom"></div>
  <div class="green-gradient"></div>
  <div class="yellow-gradient"></div>
  <div class="red-gradient"></div>
  <div class="purple-gradient"></div>
</div>

<style>
  @import "../styles/fluent-background.css";
</style>
